@model List<ExchangeViewModel.Datum>
@{
    Layout = null;
}
<link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
<link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />

<div class="container">
    <br />
    <br />
    <table class="table table-bordered">
        <tr>
            <th>Döviz Kodu</th>
            <th>Birim Fiyatı</th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.encodedSymbol</td>
                <td>@item.symbol    </td>
      
            </tr>
        }
    </table>
</div>
